@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Sono:wght@300;400;500&family=Source+Code+Pro:ital,wght@1,200;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "poppins";
}
body {
  background-color: #323744;
  color: #000;
}

.custom-nav {
  background-color: #20232f;
  box-shadow: 0px 0px 5px 0px;
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar-brand {
  color: rgb(212, 79, 101);
  margin-left: 3rem;
  padding: 3px;
}

.nav-link {
  color: white;
}
li:hover a {
  background-color: #02d7e8;
  border-radius: 10px;
  transition: 1s;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.navbar-toggler {
  color: rgb(211, 211, 211);
}

.nav-item {
  margin-right: 2rem;
}
section {
  position: relative;
}

section h2 {
  position: absolute;
  left: 4rem;
  top: 3rem;
}

.name {
  color: #02d7e8;
  margin-left: 10px;
  font-family: "Courier New";
}
.reflection {
  text-align: left;
  -webkit-box-reflect: below 0px linear-gradient(transparent, #010615);
  line-height: 2rem;
}
article h2 {
  color: white;
}

.container1 {
  display: grid;
  justify-content: center;
}

.experience {
  display: flex;
  flex-wrap: wrap;
  background-color: #20232f;
  border-radius: 30px;
  padding: 10px;
  align-content: center;
  width: 50rem;
}
.experience:hover {
  scale: 1.2;
  transition-duration: 1s;
  background-color: transparent;
  border-radius: 20px;
  background-color: #20232f;
  cursor: pointer;
}

.intro {
  width: 40rem;
  height: 5rem;
  margin-left: 5rem;
  font-size: 30px;
  text-align: center;
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeInup 1s forwards 2s;
  margin-top: 4rem;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 300px;
  margin-top: 1rem;
}

.flip-card-inner {
  position: relative;
  background: linear-gradient(black, grey);
  border-radius: 35px;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 350px;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
  width: 350px;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  transform: rotateY(180deg);
}
img {
  border-radius: 35px;
}
.contact-me img {
  margin-bottom: 1rem;
}

.hero    {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: space-around;
}
.intro{
  display: flex;
  justify-content: end;
}

.hero article {
  width: 100%;
  position: relative;
}
.contact-me {
  margin-top: 3rem;
}

.logos{
  display: flex;
  justify-content: space-evenly;
}
.image {
  display: flex;
  justify-content: center;
}

/* .get {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  align-content: center;
  align-items: center;
} */

.contact-me span {
  margin: 5rem;
}
button {
  background-color: rgb(212, 79, 101);
  border-radius: 0.6rem;
}
a {
  text-decoration: none;
  color: white;
}
a span {
  color: black;
  border-radius: 0.25rem;
  padding: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-self: center;
}
#gmail {
  color: white;
  border: 2px solid #d40622;
  margin: 0.5rem;
}

#linkdin {
  color: white;
  border: 2px solid #1e9bff;
  margin: 0.5rem;
}

#github {
  color: white;
  border: 2px solid white;
  margin: 0.5rem;
}

a:hover span {
  background-color: var(--clr);

  transition-duration: 0.7s;
  letter-spacing: 0.1em;
  box-shadow: 0 0 50px var(--clr);
}

.my-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  margin: 5rem;
}
.skill {
  border: solid 1px white;
  border-radius: 10px;
  box-shadow: 0 0 8px 0;
  margin: 1rem;
  padding: 0.5rem;
}

.skill:hover {
  transform: scale(1.2);
  transition-duration: 0.7s;
}

.my-skills h3 {
  margin: 0;
  display: flex;
  justify-content: center;
}
h2 {
  text-align: center;
  position: relative;
  top: 50px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

footer {
  position: relative;
  display: grid;
  height: 5.1rem;
  background-color: rgb(31, 34, 53);
  justify-content: center;
  box-shadow: 0px 0px 5px 0px;
}
footer svg {
  display: grid;
  cursor: pointer;
  justify-self: center;
  margin-top: 7px;
}
footer a {
  display: grid;
  justify-self: center;
  margin: 5px;
}

.wrapper {
  display: flex;
}

.wrapper .dynamic-txts {
  margin-left: 15px;
  /* height: 70px; */
  /* line-height: 70px; */
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  color: #08fdd8;
  font-size: 50px;
  font-weight: 500;
  position: relative;
  top: 0;
}

.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  /* line-height: 50px; */
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 120%;
  width: 200%;
  background: #323744;
  border-left: 5px solid #ffffff;
  animation: typing 3s steps(25) forwards;
}
@keyframes typing {
  to {
    left: calc(100% + 10px);
  }
}

@keyframes fadeInup {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* @media (max-width: 400px) {
  span {
    font-size: small;
  }
  h2 {
    font-size: small;
  }
  h3 {
    font-size: small;
  }
  h4 {
    font-size: small;
    width: 15rem;
    margin-bottom: 3rem;
  }

  .experience {
    width: 20rem;
  }
  .my-skills {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: auto auto;
  }
  .flip-card .flip-card-front .flip-card-back {
    width: 200px;
  }
} */
@media (max-width: 973px) {
  .hero {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }
  .reflection {
    font-size: 40px;
  }

  .contact-me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-me img {
    margin: 1rem;
  }
}
@media (max-width: 880px) {
  .my-skills {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
  }
}
@media (max-width: 840px) {
  .experience:hover {
    scale: 1;
  }
  .experience {
    width: 40rem;
  }
}

@media (max-width: 760px) {
  .experience:hover {
    scale: 1;
  }
  .dynamic-txts li span {
    font-size: 30px;
  }

  .intro {
    width: 35rem;
    font-size: 22px;
  }
}
@media (max-width: 655px) {
  .experience:hover {
    scale: 1;
  }
  .intro {
    width: 30rem;
    font-size: 20px;
  }

  .experience {
    width: 30rem;
  }
}
@media (max-width: 565px) {
  .experience:hover {
    scale: 1;
  }
  .intro {
    width: 25rem;
    font-size: 20px;
  }
}
@media (max-width: 505px) {
  .experience:hover {
    scale: 1;
  }
  .intro {
    width: 22rem;
    font-size: 17px;
  }
  .dynamic-txts li span {
    font-size: 25px;
  }
  .experience {
    width: 25rem;
  }
}
@media (max-width: 422px) {
  .experience{
    width: 22rem;
  }
  .experience:hover {
    scale: 1;
  }
  .dynamic-txts li span::after {
    height: 150%;
    width: 200%;
    background: #323744;
  }
  .dynamic-txts li span {
    font-size: 20px;
  }
  .intro {
    width: 18rem;
    font-size: 16px;
  }
}
@media (max-width: 415px) {
  .experience:hover {
    scale: 1;
  }
  
  .intro {
    width: 16rem;
    font-size: 15px;
  }
  .dynamic-txts li span::after {
    height: 300%;
    width: 200%;
    background: #323744;
  }
  .dynamic-txts li span {
    font-size: 17px;
  }

}
@media (max-width: 395px) {
  .skill{
    margin: 0;
  }
 
  .skill h3{
font-size: 17px;
  }
  .flip-card img{
    width: 5rem;
  }

}