@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Sono:wght@300;400;500&family=Source+Code+Pro:ital,wght@1,200;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  color: white;
}

main {
  background-color: #323744;
}

header {
  position: sticky;
  top: 0;
}
.custom-nav {
  background-color: rgb(31, 34, 53);
  box-shadow: 0px 0px 5px 0px;
}
nav .a {
  color: white;
}
li:hover a {
  background-color: #02d7e8;
  border-radius: 10px;
  transition: 1s;
  letter-spacing: 0.1em;
}

.home {
  margin-left: 2rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero div {
  margin-top: 3rem;
  margin-right: 1rem;
  justify-self: center;
  align-self: center;
}

img {
  border-radius: 40px;
}
h2 {
  margin-left: 12rem;
}

.my-experience {
  display: flex;
  margin-left: 12rem;
  width: 60rem;
  flex-wrap: wrap;
}
.my-experience div {
  background-color: rgb(31, 34, 53);
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
}

footer {
  position: relative;
  display: grid;
  height: 5.1rem;
  background-color: rgb(31, 34, 53);
  justify-content: center;
  box-shadow: 0px 0px 5px 0px;
  color: white;
}
footer svg {
  display: grid;
  cursor: pointer;
  justify-self: center;
  margin-top: 7px;
}
footer a {
  display: grid;
  justify-self: center;
  margin: 5px;

  text-decoration: none;
  color: white;
}
